body
{
    margin-left : 5%;
    margin-right: 5%;
    margin-top: 3%
}

section
{
    padding-top: 1em
}

p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
}

table
{
    width: 100%
}

tr:hover 
{
    background-color: #f5f5f5;
}

#overview
{
    display: flex;
    justify-content: space-between;
}

#ID 
{
    display: flex;
    flex-direction: column;
    max-width: 20em
}

#ID h1
{
    color:darksalmon;  
    margin: 0em
}

#ID h2
{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

#lang
{
    text-align: center
}

.achievement
{
    display: flex;   
    align-items: center;
}

.achievement i
{
    padding-right: 0.4em;
}

#portrait
{
    display: flex;
    flex-direction: column;
}

#portrait img
{
    width: 12em;
    border-radius: 20em;
    padding: 0.3em;
    border : solid darksalmon 0.01em;
    margin-bottom: 1.5em
}

#portrait a
{
    color:darksalmon;
    text-decoration: none;
    padding : 1em
}

#labels
{
    display: flex;
    flex-direction: column;
    max-width: 20%; 
}

#labels .info-icons
{
    display: flex;
    align-items: center;
}

#labels .info-icons i,p,a
{
    padding-right: 1em;
}

#labels .info-icons a
{
    display: block;
    text-decoration:unset;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: darksalmon;
}

#about
{
    display: flex;
    justify-content: space-between;
    padding-top: 1em
}

#about h1
{
    color: darksalmon;
    padding : 0.1em;
    max-width: 50%
}

#me
{
    max-width: 60%;
}

#me p
{    
    text-align: justify;
}

#Sills
{
    display: flex;
    align-items: center;
}

#Skills p
{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-right: 2em;
}

progress
{
    max-width: 4em;
    height: 0.75em;
    background-color:white;
    border-radius: 0.6em;
    border-color: black;
    border-width: 0.1em
}

progress::-moz-progress-bar 
{
    background-color:darksalmon !important;
    border-radius: 0.6em
}

.soustitretableau
{
    color: darksalmon;
    text-align: center;
    padding-top: 0.5em
}

#Experience h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
    margin-bottom: 0
}

#Formation h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

.Experienceformation h3
{
    margin: 0;
    font-size: 1em;
}

.Experienceformation th:nth-child(1)
{
    width: 5%
}

.Experienceformation td:nth-child(3) i
{
    color:darksalmon;
}

.Experienceformation td:nth-child(3)
{
    text-align: center;    
}

.Experienceformation td:nth-child(1) p
{
    padding: O; 
}

.Experienceformation th:nth-child(2)
{
    width: 75%
}

.Experienceformation th:nth-child(3)
{
    width: 15%;
    align-items: center
}

#Passions #listepassions
{
    display: flex;  
    flex-wrap: wrap;
}

#Passions h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

#Passions p
{
    border: solid 0.1em;
    border-color: darksalmon;
    border-radius: 2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.5em
}


@media all and (max-device-width: 480px)
{

p
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

table
{
    width: 100%
}

#overview
{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-between;
}

#ID 
{
    display: block;
}

#ID h1
{
    color:darksalmon;  
    margin: 0em
}

#ID h2
{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

#lang
{
    text-align: center
}

.achievement
{
    display: flex;   
    align-items: center;
}

.achievement i
{
    padding-right: 0.4em;
}

#portrait
{
    display: block;
    text-align: center;
}

#portrait img
{
    width: 6em;
    border-radius: 20em;
    padding: 0.3em;
    border : solid darksalmon 0.01em;
    margin-bottom: 0em
}

#portrait
{
    margin-bottom: 1em;
}

#labels
{
    display: flex;
    max-width: none; 
    justify-content: center;
}

#labels .info-icons
{
    display: flex;
    align-items: center;
}

#labels .info-icons i,p,a
{
    padding-right: 1em;
}

#labels .info-icons a
{
    display: block;
    text-decoration:unset;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: darksalmon;
}

#about
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1em
}

#about h1
{
    color: darksalmon;
    padding : 0.1em;
    max-width: 50%
}

#me
{
    max-width: 100%;
}

#me p
{    
    text-align: justify;
}

#Skills
{
    display: flex;
    align-items: center;
}

#Skills p
{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-right: 2em;
}

progress
{
    max-width: 4em;
    height: 0.75em;
    background-color:white;
    border-radius: 0.6em;
    border-color: black;
    border-width: 0.1em
}

progress::-moz-progress-bar 
{
    background-color:darksalmon !important;
    border-radius: 0.6em
}

.soustitretableau
{
    color: darksalmon;
    text-align: center;
    padding-top: 1.5em
}

#Experience h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
    margin-bottom: 0
}

#Formation h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

.Experienceformation h3
{
    margin: 0;
    font-size: 1em;
}

.Experienceformation th:nth-child(1)
{
    width: 5%
}

.Experienceformation td:nth-child(3) i
{
    color:darksalmon;
}

.Experienceformation td:nth-child(3)
{
    text-align: center;    
}

.Experienceformation td:nth-child(1) p
{
    padding: O; 
}

.Experienceformation th:nth-child(2)
{
    width: 75%
}

.Experienceformation th:nth-child(3)
{
    width: 15%;
    align-items: center
}

#Passions #listepassions
{
    display: flex;  
    flex-wrap: wrap;
}

#Passions h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

#Passions p
{
    border: solid 0.1em;
    border-color: darksalmon;
    border-radius: 2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.5em
}

}