body
{
    margin-left : 5%;
    margin-right: 5%;
    margin-top: 3%
}

p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
}

#overview
{
    display: flex;
    justify-content: space-between;
}

#ID 
{
    display: flex;
    flex-direction: column;
}

#ID h1
{
    color:darksalmon;  
    margin: 0em
}

#ID h2
{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

#lang
{
    text-align: center
}

.achievement
{
    display: flex;   
    align-items: center;
}

.achievement i
{
    padding-right: 0.4em;
}

#portrait
{
    display: flex;
    flex-direction: column;
}

#portrait img
{
    width: 12em;
    border-radius: 20em;
    padding: 0.3em;
    border : solid darksalmon 0.01em;
    margin-bottom: 1.5em
}

#portrait a
{
    color:darksalmon;
    text-decoration: none;
    padding : 1em
}

#labels
{
    display: flex;
    flex-direction: column;
    max-width: 20%; 
    padding-right: 15em 
}

#labels .info-icons
{
    display: flex;
    align-items: center;
}

#labels .info-icons i,p,a
{
    padding-right: 1em;
}

#labels .info-icons a
{
    display: block;
    text-decoration:unset;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: darksalmon;
}

#about
{
    display: flex;
    justify-content: space-between;
    padding-top: 1em
}

#about h1
{
    color: darksalmon;
    padding : 0.1em;
    max-width: 50%
}

#me
{
    max-width: 60%;
}

#me p
{    
    text-align: justify;
}

#Sills
{
    display: flex;
    align-items: center;
}

#Skills p, td, th
{
    margin-top: 0em;
    margin-bottom: 0em;
    max-height: 1em;
    padding-right:2em;
}

progress
{
    max-width: 4em;
    height: 0.75em;
    background-color:white;
    border-radius: 0.6em;
    border-color: black;
    border-width: 0.1em
}

progress::-moz-progress-bar {
    background-color:darksalmon !important;
    border-radius: 0.6em
}

.soustitretableau
{
    color: darksalmon;
    text-align: center;
    padding-top: 1.5em
}

section
{
    padding-top: 1em
}

.detail h3
{
    margin: 0;
    padding: 0;
    font-size: medium;
}

.detail th:nth-child(2)
{
    width: 70em
}

.detail th:nth-child(1)
{
    width: 5em
}

.detail td:nth-child(1) p
{
    text-align: center;
    border : solid darksalmon;
    border-radius : 2em;
    border-width: 0.02em;
    padding: 0.75em
}

.detail a
{
    margin-left: 1em;
    color:darksalmon
}

#Experience h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
    margin-bottom: 0
}

#Formation h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

#Passions #listepassions
{
    display: flex;  
    flex-wrap: wrap;
}

#Passions h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

#Passions p
{
    border: solid 0.1em;
    border-color: darksalmon;
    border-radius: 2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.5em
}

@media all and (max-device-width: 480px){

#overview
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap
}

#overview div:nth-child(1)
{
    order: 3;
}

#overview div:nth-child(2)
{
    order: 1;
    align-items: center;
}

#overview div:nth-child(3)
{
    order: 2;
    padding-right: 0em
}

#portrait img
{
    width: 6em;
    margin: 0 0 0 0.5em
}

#lang
{
    margin: 0 0 0 0.5em
}

#ID
{
    margin: 1em 0em 0.5em 3em
}

#labels
{
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin-right: 3em
}

#about
{
    display: flex;
    flex-direction: column;
}

#me
{
    max-width: 40em

}