body
{
    margin-left : 5%;
    margin-right: 5%;
    margin-top: 3%
}

p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
}

#overview
{
    display: flex;
    justify-content: space-between;
}

#ID 
{
    display: flex;
    flex-direction: column;
}

#ID h1
{
    color:darksalmon;  
    margin: 0em
}

#ID h2
{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

.achievement
{
    display: flex;   
    align-items: center;
}

.achievement i
{
    padding-right: 0.4em;
}

#labels
{
    display: flex;
    flex-direction: column;
    max-width: 20%; 
    padding-right: 15em 
}

#labels .info-icons
{
    display: flex;
    align-items: center;
}

#labels .info-icons i,p,a
{
    padding-right: 1em;
}

#labels .info-icons a
{
    display: block;
    text-decoration:unset;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: darksalmon;
}

#about
{
    display: flex;
    justify-content: space-between;
    padding-top: 1em
}

#about h1
{
    color: darksalmon;
    padding : 0.1em;
    max-width: 50%
}

#me
{
    max-width: 50%;
}

#me p
{    
    text-align: justify;
}

#progression-bars
{
    display: flex;
    margin-right : 5em;
    margin-top: 2em
}

#notes
{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

#notes .stars
{
    margin-top: 0.2em;
    margin-bottom: 0.2em; 
    color: darksalmon  
}

#skill 
{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;  
    padding-left: 1em;      
}

#Experience, #Formation
{
    padding-top: 1em
}

#Experience h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

table 
{
    table-layout: fixed;
    width: 90%;
}

thead th
{
    text-align: center;
}

thead th:nth-child(1) 
{
    width: 5%;
}
  
thead th:nth-child(2) 
{
    width: 80%;
}
  
thead th:nth-child(3) 
  {
    width: 15%;
  }

table a
{
    color:darksalmon;
}

table h3
{
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

td p:first-child
{
    text-align: center;
    font-size: 1em;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    padding: 0.5em;
    border-color: darksalmon; 
}

td p:nth-child(2)

{
    font-style:italic;
    margin-left:0.2em;
}

td:nth-child(2)
{
    padding-left: 2em;
    padding-right: 20em;
}

td:nth-child(3)
{
    text-align: center;
}

#Formation h2
{
    color: darksalmon;
    padding : 0.1em;
    font-size: large;
}

footer
{
    margin-top: 1em;
    padding-top: 1em;
    background-image: linear-gradient(white, darksalmon)
}