body
{
    margin : 5%;
}

p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
}

#overview
{
    display: flex;
    justify-content: space-between;
}

#ID 
{
    display: flex;
    flex-direction: column;
}

#ID h1
{
    color:darksalmon;  
    margin: 0em
}

#ID h2
{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

.achievement
{
    display: flex;   
    align-items: center;
}

.achievement i
{
    padding-right: 0.4em;
}

#labels
{
    display: flex;
    flex-direction: column;
}

#labels .info-icons
{
    display: flex;
    align-items: center;
    margin-right: 30em;
}

#labels .info-icons i,p,a
{
    padding-right: 1em;
}

#labels .info-icons a
{
    display: block;
    text-decoration:unset;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: darksalmon;
}